.formControl {

}


.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.formSummError {
    border: red 1px solid;
    pad: 5px;
    color: red;
}