.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;  
}

.dilogsItems {
    padding: 10px;
}

.dilogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 10px;
}
.message {

}